<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="miConexion" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=SYSTEM;Password=Peru123.;" providerName="System.Data.OracleClient"/>
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
</configuration>
